[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rdd"]
	path = rdd
	url = https://github.com/cran/rdd
[submodule "tidyhte"]
	path = tidyhte
	url = https://github.com/ddimmery/tidyhte
